.body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.bio-img-576 {
    /* width: 400px;
    height: 400px; */
    width: 70vw;
    border-radius: 50%;
    box-shadow: 10px 5px #3eb489;
}

.bio-img-768 {
    display: none;
}

.bio-img-992 {
    display: none;
}

.bio-img-1200 {
    display: none;
}

.bio {
    font-size: 20px;
}

.about-title {
        font-family: 'Alice', serif;
        font-size: 30px;
}

.about-background {
    background-color: #FFF700;
}

.info {
    background-color: #fffdd0;
    box-shadow: 10px 10px #aaf0d1;
}

.sm-img {
    display: none;
}

@media screen and (min-width: 576px) and (max-width: 1023px){
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bio-img-576 {
    display: none;
  }

  .bio-img-768 {
    display: block;
    width: 50vw;
    border-radius: 50%;
    box-shadow: 10px 5px #3eb489;
  }
}

@media screen and (min-width: 320px) and (max-width: 575px){
  .vis-mis {
    display: flex;
    flex-wrap: wrap;
  }
.body {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-title {
    font-size: 20px;
}
.bio-pic {
    width: 200px;
    height: 200px;
}

.bio {
    font-size: 15px;
}
.md-img {
    display: none;
}

.sm-img {
    display: block;
}
}

@media screen and (min-width: 1023px){
    .bio-img-576 {
        display: none;
    }

    .bio-img-768 {
        display: none;
    }

    .bio-img-992 {
        display: block;
        border-radius: 50%;
        box-shadow: 10px 5px #3eb489;
        width: 30vw;
    }
}

@media screen and (min-width: 1200px) {
    .bio-img-1200 {
        display: block;
            border-radius: 50%;
            box-shadow: 10px 5px #3eb489;
            width: 30vw;
    }
    .bio-img-992 {
        display: none;
    }
}