.body {
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
}

.bio-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 10px 5px #3eb489;
}

.bio {
    font-size: 20px;
}

.about-title {
        font-family: 'Alice', serif;
        font-size: 30px;
}

.about-background {
    background-color: #FFF700;
}

.info {
    background-color: #fffdd0;
    box-shadow: 10px 10px #aaf0d1;
}