.body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.bio-img-576 {
    /* width: 400px;
    height: 400px; */
    width: 70vw;
    border-radius: 50%;
    box-shadow: 10px 5px #3eb489;
}

.bio-img-768, .bio-img-992, .bio-img-1200 {
    display: none;
}

.bio {
    font-size: 20px;
}

.about-title {
        font-family: 'Alice', serif;
        font-size: 30px;
}

.about-background {
    background-color: #FFF700;
}

.info {
    background-color: #fffdd0;
    box-shadow: 10px 10px #aaf0d1;
}

.faves-768,
.faves-992,
.faves-1200 {
    display: none;
}

.faves-576 {
    display: block;
    width: 100vw;
}

  .vis-mis {
      display: flex;
      flex-wrap: wrap;
  }

@media screen and (min-width: 768px) {
.bio-img-576, .faves-576 {
        display: none;
    }
 .bio-img-768 {
     display: block;
     border-radius: 50%;
     box-shadow: 10px 5px #3eb489;
     width: 30vw;
 }

 .faves-768 {
    display: block;
    width: 100vw;
 }
   .body {
    font-size: 20px;
   }
.bio {
    font-size: 20px;
}

.about-title {
    font-size: 30px;
}
 .vis-mis {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
 }
}

@media screen and (min-width: 992px){
    .bio-img-768, .faves-768 {
        display: none;
    }

    .bio-img-992 {
        display: block;
        border-radius: 50%;
        box-shadow: 10px 5px #3eb489;
        width: 30vw;
    }

    .faves-992 {
        display: block;
        width: 100vw;
    }

    .body {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1200px) {
    .bio-img-1200 {
        display: block;
            border-radius: 50%;
            box-shadow: 10px 5px #3eb489;
            width: 30vw;
    }
    .bio-img-992, .faves-992 {
        display: none;
    }
    .faves-1200 {
        display: block;
        width: 100vw;
    }
}

@media screen and (min-width: 2000px){
    .about-title {
        font-size: 50px;
    }
    .body {
        font-size: 30px;
    }

    .bio {
        font-size: 30px;
    }
}