.banner-768, .banner-992, .banner-1200 {
    display: none;
}

.banner-576 {
    display: block;
    width: 100vw;
}

@media screen and (min-width: 768px) {
    .banner-576 {
        display: none;
    }

    .banner-768 {
        display: block;
        width: 100vw;
    }
}

@media screen and (min-width: 992px) {
    .banner-768 {
        display: none;
    }

    .banner-992 {
        display: block;
        width: 100vw;
    }
}

@media screen and (min-width: 992px) {
    .banner-992 {
        display: none;
    }

    .banner-1200 {
        display: block;
        width: 100vw;
    }
}