.footer-background {
    background-color: #f8ad9d;
}

.logo {
    width: 40px;
    height: 40px;
}

.email {
    width: 60px;
    height: 60px;
}

.footer-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.footer-verse {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}