.background {
    background-color: white !important;
    display: flex;
    justify-content: center;
}

a {
    color: black !important;
    font-family: 'Rubik', sans-serif;
}

a:hover {
    color: grey !important;
    font-style: italic !important;
}