.background {
    display: flex;
    justify-content: center;
}

a {
    color: black !important;
    font-family: 'Rubik', sans-serif;
}

a:hover {
    color: #f8ad9d !important;
    font-style: italic !important;
}