.title {
    font-family: 'Vina Sans', cursive;
    font-size: 50px;
}

.subtitle {
    font-family: 'Kreon', serif;
    font-size: 20px;
}

.main {
    /* background-image: url('../../public/images/background.jpg'); */
    background-color: #F8AD9D;
}
