.tier {
    background-color: #AAF0D1 !important;
    font-family: 'Alice', serif;
}

.service-list {
    font-family: 'Lato', sans-serif;
}

.services-btn {
    background-color: #AAF0D1 !important;
    font-family: "Lato", sans-serif;
}

.services-btn:hover {
    color: #fffdd0 !important;
    font-style: italic;
}