.work-title {
    font-family: "Alice", serif;
}

.card-header {
    font-family: "Alice", serif;
}

.card-text {
    font-family: "Lato", sans-serif;
}

.card-btn {
    font-family: "Lato", sans-serif !important;
    background-color: #AAF0D1 !important;
    color: black !important;
}

.card-btn:hover {
    color: #fffdd0 !important;
    font-style: italic;
}

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
    
    .work-card {
        width: 15rem;
        margin: 10px;
        }
    
    .card-img {
        width: 100%;
        height: 15rem;
        }

@media screen and (min-width: 576px) and (max-width: 1023px) {
.work-card {
        width: 20rem !important;
    }

   
}

@media screen and (min-width: 1024px) {
    .work-card {
            width: 28rem !important;
        }
    
     
}