.work-title {
    font-family: "Alice", serif;
}

.card-header {
    font-family: "Alice", serif;
    background-color: white !important;
    border-bottom: 0 !important;
    padding-left: 0 !important;
}

.card-text {
    font-family: "Lato", sans-serif;
}

.card-btn {
    font-family: "Lato", sans-serif !important;
    background-color: #AAF0D1 !important;
    color: black !important;
}

.card-btn:hover {
    color: #fffdd0 !important;
    font-style: italic;
}

.row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
    
.work-card {
        width: 95vw !important;
        padding: 0 !important;
        }
    
.card-img {
        width: 100vw;
        height: 15rem;
        }

    .work-container {
        width: 100vw !important;
    }

@media screen and (min-width: 768px) {
.row {
    display: flex;
    flex-direction: row;
}

.work-card {
    width: 40vw !important;
}
} 

@media screen and (min-width: 2000px) {
    .work-card {
        width: 40vw !important;
    }

    .card-text {
        font-size: 40px;
    }

    .card-header {
        font-size: 50px !important;
    }

    .card-btn {
        font-size: 40px !important;
    }
   
}
